<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Coffee</string>
	<string>Yogurt</string>
	<string>Eggs</string>
	<string>Milk</string>
	<string>Cheese</string>
	<string>Bread</string>
	<string>Wipes</string>
	<string>Whiskey</string>
	<string>Parmesan</string>
	<string>Cups</string>
	<string>Cleaning Supplies</string>
	<string>Mayo</string>
	<string>Movie Night</string>
	<string>Halloween Candy</string>
	<string>Pickle</string>
	<string>Spearmint</string>
	<string>Noodles</string>
	<string>Soup</string>
	<string>Laundry</string>
	<string>Water</string>
</array>
</plist>
